algoliasearch==2.6.2
algoliasearch-django==2.0.0
asgiref==3.5.2
boto3==1.24.41
botocore==1.27.41
certifi==2022.6.15
charset-normalizer==2.1.0
Django==3.2.14
django-cors-headers==3.13.0
django-dotenv==1.4.2
django-phonenumber-field==6.3.0
django-storages==1.12.3
django-twilio==0.13.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
gunicorn==20.1.0
idna==3.3
jmespath==1.0.1
phonenumbers==8.12.52
phonenumberslite==8.12.51
psycopg2-binary==2.9.3
PyJWT==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
twilio==6.63.2
urllib3==1.26.10
